[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  de = !sh -c 'git branch -d $1 && git push origin --delete $1' -
[user]
  name = Nick Rivadeneira
  email = nicholas.rivadeneira@gmail.com
[credential]
  helper = osxkeychain
[color]
  ui = true
[core]
  editor = vim
	excludesfile = /Users/nick/.gitignore_global
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = nickrivadeneira
